# Ignore environment variables file
.env

# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore IDE specific files
.vscode/
.idea/
